/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end CSS reset                                          */

/* start of my code                                       */
#container {
	width: auto;
	height: auto;
	min-width: 960px;
}

body {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
}

a {
	text-decoration: inherit;
	color:  #444444;
}

a:hover {
	text-decoration: underline;
}

li {
	display: inline;
	list-style: none;
	padding: 6px;
}

button {
	border-radius: 2px;
	box-shadow: none;
	border: 1px solid;
	font-weight: bold;
	padding-right: 8px;
	padding-left: 8px;
}

header {
	position: relative;
	right: 15px;
	top: 15px;
	float: right;
}

header button {
	width: 71px;
	height: 30px;
	background-color: #4584DE;
	color: white;
	border-color: #4584DE;
}

header img {
	position: relative;
	top: 5px;
	margin-right: 6px;
	margin-left: 5px;
}

#container > div {
	position: relative;
	padding: 200px;
	margin-right: auto;
	margin-left: auto;
	width: 630px;
}	

#body img {
	display: block;
	position: relative;
	width: 275px;
	height: auto;
	padding: 15px;
	top: 0px;
	margin-right: auto;
	margin-left: auto;
}

input {
	display: block;
	border: 1px solid #C8C8C8;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 630px;
	padding-top: 5px;
	font-size: 13px;
}

form button {
	display: inline-block;
	height: 29px;
	background-color: #F5F5F5;
	color: #444444;
	border-color: #D9D9D9;
	font-size: 11px;
	margin: 2px 8px;
}

form div {
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}

footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	border-top: 1px solid #E4E4E4 ;
	background: #F2F2F2;
	height: 41px;
	min-width: 960px;
}

footer li {
	margin: 11px;

}

.right {
	float: right;
}

.left {
	float: left;
}

